.custom-select option {
    padding: 10px;
    background-color: #1a2035;
    line-height: 2em;
    text-align: center;
}

.dark-modal .modal-content {
    background-color: #1a2035;
}

.dark-modal .modal-header {
    border-bottom: 1px solid #3a3a3a;
    color: #fff;
}

.dark-modal .modal-header button span,
.dark-modal .modal-body {
    color: #fff;
}

.dark-modal .modal-footer {
    border-top: 1px solid #3a3a3a;
}

.dashboard-table{
    margin-bottom: 0px;
}

.status-cell{
    padding-left: 20px!important;
    text-align: left;
    max-width: 70px;
}

.status{
    user-select: none;
    font-size: 5em;
    vertical-align: middle;
    text-align: center;
}

.status-initiated{
    color: #CCC;
}

.status-pending, .status-pending_pull, .status-pending_push{
    color: #0b75c9;
}

.status-pulled, .status-pushed{
    color: #c9a400;
}

.status-expired{
    color: #000;
}

.status-failed, .status-pull_failed, .status-push_failed{
    color: #c92000;
}

.status-synced{
    color: #00c93c;
}

.dashboard-table-btn{
    margin: 0px 3px 0px 3px!important;
    padding: 13px!important;
}

html, body {
    background: #347fc3;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bar {
    display: none;
    position: absolute;
    height: 0px;
    width: calc(100% - 260px);
    left: 260px;
    margin: 0 auto;
    background: #294b6b;
    margin-top: 0px;
}

.circle {
    position: absolute;
    top: 0px;
    margin-left: 0px;
    height: 3px;
    width: 0px;
    left: 0;
    background: #294b6b;
    border-radius: 0px;
    -webkit-animation: move 2s infinite;
}


@-webkit-keyframes move {
    0% {width: 0;}
    50% {width: 100%;}
    75% {width: 100%;}
    100 {width: 100%;}
}