.custom-select option {
    padding: 10px;
    background-color: #1a2035;
    line-height: 2em;
    text-align: center;
}

.dark-modal .modal-content {
    background-color: #1a2035;
}

.dark-modal .modal-header {
    border-bottom: 1px solid #3a3a3a;
    color: #fff;
}

.dark-modal .modal-header button span,
.dark-modal .modal-body {
    color: #fff;
}

.dark-modal .modal-footer {
    border-top: 1px solid #3a3a3a;
}

.dashboard-table{
    margin-bottom: 0px;
}

.status-cell{
    text-align: center;
    max-width: 50px;
}

.status{
    user-select: none;
    font-size: 5em;
    vertical-align: middle;
    text-align: center;
}

.status-initiated{
    color: #CCC;
}

.status-pending, .status-pending_pull, .status-pending_push{
    color: #0b75c9;
}

.status-pulled, .status-pushed{
    color: #c9a400;
}

.status-expired{
    color: #000;
}

.status-failed, .status-pull_failed, .status-push_failed{
    color: #c92000;
}

.status-synced{
    color: #00c93c;
}

.dashboard-table-btn{
    margin: 0px 3px 0px 3px!important;
    padding: 13px!important;
}