.custom-select option {
    padding: 10px;
    background-color: #1a2035;
    line-height: 2em;
    text-align: center;
}

.dark-modal .modal-content {
    background-color: #1a2035;
}

.dark-modal .modal-header {
    border-bottom: 1px solid #3a3a3a;
    color: #fff;
}

.dark-modal .modal-header button span,
.dark-modal .modal-body {
    color: #fff;
}

.dark-modal .modal-footer {
    border-top: 1px solid #3a3a3a;
}